@media only screen and (max-width:1126px){
    
    
    nav{
        flex-direction: column;
        position: relative;
    }

    nav box-icon{
        display: block;
        position: absolute;
        top: 1.8rem;
        right: 3.2rem;
    }

    nav ul{
        background-color: #EBECE7;
        display: none;
    }

    .showmenu{
        padding: 5px;
        display: block;
    }

    nav ul li{
        text-align: center;
        display: block;
        padding: 10px 0;
    }

    nav ul li a{
        color: #222;
        background-color: none;
    }

    main {
        flex-direction: column-reverse;
        text-align:center;
    }

    main .content-img img{
        height: 400px;
        padding: 25px;
    }

    div.content .content-description h1{
        text-align: center;
    }

    main .content .content-description button{
        padding: 10px 100px;
        font-size: 1.2rem;
        box-shadow: 1px 5px 3px grey;
        
    }

    section.product{
        margin-top: 100px;
    }

    div.row{
        flex-direction: column;
        padding: 50px 0;
    }

    div.row h2{
        text-align: center;
        font-size: 3.5rem;
    }

    div.row p{
        text-align: justify;
    }

    footer div.logo-footer {
        display: none;
      }

}