@media only screen and (max-width:768px){
    nav{
        flex-direction: column;
        position: relative;
    }

    nav box-icon{
        display: block;
        position: absolute;
        top: 1.8rem;
        right: 3.2rem;
    }

    nav ul{
        background-color: #EBECE7;
        display: none;
    }

    .showmenu{
        padding: 5px;
        display: block;
    }

    nav ul li{
        text-align: center;
        display: block;
        padding: 10px 0;
    }

    nav ul li a{
        color: #222;
        background-color: none;
    }
}