@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Besley:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;1,300;1,400&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

a {
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 400;
}

h1 {
  font-weight: 700;
  font-size: 3.6rem;
  margin: 1.6rem 0;
}

h2 {
  font-weight: 600;
  font-size: 2.4rem;
  margin: 1.6rem 0;
}

p {
  font-weight: 400;
  font-size: 1.8rem;
  margin: 1.6rem 0;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  align-items: center;
}

/* View */
section {
  padding: 100px 0;
}

header {
  /* height: 100vh; */
  background-color: #ebece7;
  box-shadow: -1px 2px 4px gray;
  position: fixed;
  width: 100%;
}

.logo h1 {
  margin: 0px;
  font-size: 3rem;
  color: #533e86;
  /* font-family: 'Besley', serif; */
  font-family: "Bitter", serif;
  font-weight: 400;
  font-style: italic;
}

nav {
  padding: 1.6rem 8%;
  display: flex;
  justify-content: space-between;
}

nav ul {
  margin: 10px;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  padding-left: 25px;
}

nav ul li a{
    color: #533e86;
}

nav ul li a:hover {
  background-color: #533e86;
  border-radius: 999px;
  color: white;
  padding: 10px 30px;
  transition: all 0.5s ease-out;
}

nav box-icon {
  display: none;
}

main{
    display: flex;
    width: 80%;
    margin-inline: auto;
    align-items: center;
    padding: 20px 0;
    padding-top: 80px;
    /* background-color: aqua; */
}

div.content .content-description h1{
    font-size: 4.5rem;
    color: #533E86;
}

div.content .content-description p{
    font-size: 1.5rem;
    text-align: justify;
    line-height: 2.1rem;
    color: #533E86;
}

main .content .content-description button{
    padding: 1.2rem 3rem;
    margin-block-start: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    border: 3px solid transparent;
    border-radius: 999px;
    background-color: #533E86;
    cursor: pointer;
    transition: all .15s ease-in;
    box-shadow: 1px 4px 3px grey;
}

main .content .content-description button:hover {
    border: 3px solid #533E86;
    color: #533E86;
    background-color: transparent;
}

main .content-img img{
    margin-left: 35px;
    height: 600px;
}

/* About */

section.product {
    background-color: #533E86;
    margin: 0;
    padding: 0;
}

section.product h1{
    size: 5rem;
    color: #533E86;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 15px;
    background-color: white;
    line-height: 1.6;
    box-shadow: 0px 2px 3px grey;
}

div.row{
    display: flex;
}

section.product .row .product-cosmetic-img img,
section.product .row .product-tea-img img{
    width: 350px;
}

section.product .row .product-cosmetic-description,
section.product .row .product-tea-description,
section.product .row .product-pewangi-description{
    color: white;
    flex-basis: 65%;
}

section.product .row .product-pewangi-img img{
    width: 200px;
    
}

section.product .row .product-pewangi-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
